#canvas{
    display: flex;
    justify-content: center;
    background-image: url("assets/game/background/01_wide.png");
    background-repeat: no-repeat;
    background-position: center;
}
.canvas_container{
    padding-bottom: 30px;
}